<div class="container loginform">
    <form class="form-signin">
        <b>Anmelden</b>
        <input type="text" class="form-control user" placeholder="Benutzername" required autofocus>
        <input type="password" class="form-control passwordrepeat" placeholder="Passwort" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
            Anmelden
        </button>
    </form>
    <p class="text-center"><a [routerLink]="['/register']">Registrieren</a></p>
</div>