<div class="container">
    <h3>
        Notiz anzeigen
        <button (click)="goBack()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            Zurück
        </button>
    </h3>
    <form *ngIf="note">
        <fieldset class="form-group">
            <label for="id">ID</label>
            <input [ngModel]="note.id" disabled type="text" class="form-control" id="id">
        </fieldset>

        <fieldset class="form-group">
            <label for="name">Notiz</label>
            <input [ngModel]="note.name" type="text" class="form-control" id="name">
        </fieldset>

        <fieldset class="form-group">
            <label for="description">Beschreibung</label>
            <textarea [ngModel]="note.text" class="form-control" rows="5" id="description"></textarea>
        </fieldset>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="true" [ngModel]="note.done">
                Erledigt
            </label>
        </div>

        <fieldset class="form-group">
            <select size="1" id="username" class="form-control" [ngModel]="note.userID">
                <option *ngFor="let user of users" value="{{user.id}}" >{{user.name}}</option>
            </select>
        </fieldset>

        <button (click)="editNote()" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
            Ändern
        </button>
        <button (click)="deleteNote()" class="btn btn-danger btn-lg pull-right">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;
            Löschen
        </button>
    </form>
</div>