<div class="container">
    <p>
        <button class="btn btn-success" (click)="addNote()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            Notiz hinzufügen
        </button>
    </p>
    <div class="list-group">
        <a (click)="showDetails(note)" class="list-group-item" *ngFor="let note of notes">
            <span *ngIf="note.done" class="label label-success label-pill pull-right">Erledigt</span>
            <span *ngIf="!note.done" class="label label-danger label-pill pull-right">Offen</span>
            {{note.name}} von {{getName(note)}}
        </a>
    </div>
</div>