<div class="container">
    <h3>
        Neue Notiz hinzufügen
        <button (click)="goBack()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            Zurück
        </button>
    </h3>
    <form>
        <fieldset class="form-group">
            <label for="name">Name</label>
            <input #name type="text" class="form-control" id="name" placeholder="Name">
        </fieldset>

        <fieldset class="form-group">
            <label for="text">Anmerkungen</label>
            <textarea #text class="form-control" id="text" rows="3" placeholder="Anmerkungen"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="username">Benutzer</label>
            <select #user size="1" class="form-control" id="username">
                <option value="" disabled selected>Benutzer auswählen</option>
                <option value="Stefan">Stefan</option>
                <option value="Jonas">Jonas</option>
                <option value="Ramadan">Ramadan</option>
                <option value="Phillip">Phillip</option>
            </select>
        </fieldset>

        <button (click)="addNote()" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            Erstellen
        </button>
        <button type="reset" class="btn btn-danger btn-lg pull-right">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;
            Zurücksetzen
        </button>
    </form>
</div>