<div class="container loginform">
    <form class="form-signin">
        <b>Neuen Benutzer registrieren</b>
        <input type="text" class="form-control user" placeholder="Benutzername" required>
        <input type="password" class="form-control password" placeholder="Passwort" required>
        <input type="password" class="form-control passwordrepeat" placeholder="Passwort wiederholen" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span class="glyphicon glyphicon-new-window"></span>&nbsp;
            Registrieren
        </button>
    </form>
    <p class="text-center"><a [routerLink]="['/login']">Anmelden</a></p>
</div>