<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation anzeigen</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ToDo-Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/notes']"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;Notizen</a></li>
                <li><a [routerLink]="['/users']"><span class="glyphicon glyphicon-user"></span>&nbsp;Benutzer</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Abmelden</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid">
        <h2>Benutzer</h2>
    </div>
    <router-outlet></router-outlet>
</div>