<div class="container">
    <p>
        <button class="btn btn-success" (click)="addUser()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            Benutzer hinzufügen
        </button>
    </p>
    <div class="list-group">
        <a (click)="showDetails(user.id)" class="list-group-item" *ngFor="let user of users">
            <span *ngIf="user.admin" class="label label-info label-pill pull-right">Administrator</span>
            <span *ngIf="!user.admin" class="label label-default label-pill pull-right">Mitglied</span>
            {{user.name}}
        </a>
    </div>
</div>