<div class="container">
    <h3>
        Benutzer anzeigen
        <button (click)="goBack()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            Zurück
        </button>
    </h3>
    <form *ngIf="user">
        <fieldset class="form-group">
            <label for="id">ID</label>
            <input disabled type="text" class="form-control" id="id" value="{{user.id}}">
        </fieldset>

        <fieldset class="form-group">
            <label for="name">Benutzername</label>
            <input [ngModel]="user.name" type="text" class="form-control" id="name">
        </fieldset>

        <div class="checkbox">
            <label>
                <input [ngModel]="user.admin" type="checkbox">
                Administrator
            </label>
        </div>

        <button (click)="editUser()" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
            Ändern
        </button>
        <button (click)="deleteUser()" class="btn btn-danger btn-lg pull-right">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;
            Löschen
        </button>
    </form>
</div>