<div class="container">
    <h3>
        Neuen Benutzer hinzufügen
        <button (click)="goBack()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            Zurück
        </button>
    </h3>
    <form>
        <fieldset class="form-group">
            <label for="name">Benutzername</label>
            <input #username type="text" class="form-control" id="name" placeholder="Benutzerame">
        </fieldset>

        <fieldset class="form-group">
            <label for="password">Passwort</label>
            <input #password type="password" class="form-control" id="password" placeholder="Passwort">
        </fieldset>

        <fieldset class="form-group">
            <label for="passwordrepeat">Passwort wiederholen</label>
            <input #passwordrepeat type="password" class="form-control" id="passwordrepeat" placeholder="Passwort wiederholen">
        </fieldset>

        <button (click)="addUser()" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            Erstellen
        </button>
        <button type="reset" class="btn btn-danger btn-lg pull-right">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;
            Zurücksetzen
        </button>
    </form>
</div>