body {
    background: #eeeeee;
    padding-top: 70px;
}

.loginform {
    padding: 45px 0;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .user {
    margin-top: 10px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .password {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin .passwordrepeat {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.pills-center {
    display: flex;
    justify-content: center;
}